:root {
  --bg-color: white;
  --text-color: black;
  --shadow-color: #{rgba(black, 8%)};

  --hl-tab-color: #{$theme-col};
  --hl-bg-color: #{rgba($theme-col, 12%)};

  --menu-tab-color: #999;
  --menu-tab-active-color: #777;
  --menu-hover-bg-color: #{rgba(black, 8%)};
  --menu-active-bg-color: #{rgba(black, 16%)};

  --code-bg-color: #f4f4f4;
  --note-code-bg-color: #{rgba(black, 4%)};
  --code-gutter-color: #444;

  --table-border-color: #bbb;
  --table-strong-border-color: #666;
  --table-title-bg-color: #f4f4f4;
}

:root.dark-theme {
  --bg-color: #141414;
  --text-color: #f0f0f0;
  --shadow-color: #{rgba(black, 50%)};

  --hl-tab-color: #{$theme-col};
  --hl-bg-color: #{rgba($theme-col, 20%)};

  --menu-tab-color: #888;
  --menu-tab-active-color: #bbb;
  --menu-hover-bg-color: #{rgba(white, 20%)};
  --menu-active-bg-color: #{rgba(white, 30%)};

  --code-bg-color: #1b1d1e;
  --note-code-bg-color: #{rgba(black, 20%)};
  --code-gutter-color: #aaa;

  --table-border-color: #888;
  --table-strong-border-color: #ccc;
  --table-title-bg-color: #333;
}

.dark-theme {
  :link { color: #5eaafb; }
  :visited { color: #c986f7; }
  :link:active, :visited:active { color: #de36ec; }
}
