
article:first-of-type {
  display: flow-root;
  > p, > h1, > h2 {
    &:first-child {
      // fine-tuned to font. should check actual font metrics
      margin-top: calc(8px - 0.33em);
    }
  }
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
article, p, h1, h2, h3 {
  scroll-margin-top: $main-padding;
  @include breakpoint-lt-menu {
    scroll-margin-top: $top-bar-height + $main-padding-bp-lt-menu;
  }
}

img {
  max-width: 100%;
}

hr {
  border: none;
  border-top: 1px solid #999;
}

.note {
  background-color: rgba($theme-col, 12%);
  border-left: 2px solid $theme-col;
  margin: 1em 0;
  padding: 0 1em 0 calc(1em - 2px);
  display: flow-root;
}

p.note {
  padding-top: 1em;
  padding-bottom: 1em;
}

.code-title, .note-title {
  margin-bottom: 0;
  width: fit-content;

  font-size: inherit;
  font-weight: 600;
  background-color: rgba($theme-col, 12%);
}

.code-title {
  padding: 0.45em 1em;
  user-select: none;
  border-bottom: 2px solid $theme-col;

  + div pre.highlight, + .note {
    margin-top: 0;
  }
}

.note-title {
  padding: 0.45em 1em 0.45em calc(1em - 2px);
  border-left: 2px solid $theme-col;

  + .note {
    margin-top: 0;
  }
}

table {
  border-collapse: collapse;
  margin: 1em 0;
}

tbody {
  border-top: 2px solid #666;
}

th, td {
  border: 1px solid #bbb;
  padding: 4px 8px;
}

table.inline {
  display: inline-table;
  margin: 0.5em 1em 0.5em 0;
}

table[title]::before {
  content: attr(title);
  display: table-caption;
  caption-side: top;
  text-align: center;

  font-weight: bold;
  padding: 4px;
  background-color: #f4f4f4;
}

@for $w from 1 through 16 {
  .cell-w-#{$w} {
    th, td {
      width: $w * 1em;
    }
  }
}

code {
  font-family: "Source Code Pro", monospace;
}

// Inline code
code.highlighter-rouge {
  padding: 0.05em 0.2em;
  background-color: #f4f4f4;
  box-decoration-break: clone;
}

.highlight {
  pre {
    padding: 1em;

    background-color: #f4f4f4;
    overflow-x: auto;

    .note & {
      background-color: rgba(black, 4%);
    }
  }

  @include rouge-highlight-theme-github;
}

.language-console {
  pre, .note & pre {
    background-color: #1b1d1e;
  }
  @include rouge-highlight-theme-molokai;
}

figure.highlight {
  margin: 0;
}

.rouge-table {
  margin: 0;

  tbody {
    border: none;
  }

  td {
    border: none;
    padding: 0;
  }

  pre {
    margin: 0;
    padding: 0;
  }

  .gutter {
    padding-right: 1em;

    text-align: right;
    color: #444;
    user-select: none;
  }
}
