
@mixin sticky {
  position: sticky;
  position: -webkit-sticky;
}

@mixin bg-shadow {
  box-shadow: 0 0 12px 6px var(--bg-color);
}

@mixin normal-shadow {
  box-shadow: 0 0 10px var(--shadow-color);
}

