
$top-offset: 70px;
$top-bar-height: 60px;

$main-width: 720px;
$main-padding: 20px;
$main-padding-bp-lt-menu: 15px;

$side-width: 250px;
$side-padding: 12px;

$menu-width: 300px;
$menu-padding: 20px;

$awning-appear-duration: 200ms;
$menu-opening-duration: 200ms;

